<!-- フォロー/フォロー解除フォームのパーシャル -->

<% unless current_user?(@user) %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <!--フォロー解除ボタン-->
      <%= render 'unfollow' %>
    <% else %>
      <!--フォローボタン-->
      <%= render 'follow' %>
    <% end %>
  </div>
<% end %>